[submodule "themes/hugo-kiera"]
	path = themes/hugo-kiera
	url = https://github.com/funkydan2/hugo-kiera.git
[submodule "themes/hugo-goa"]
	path = themes/hugo-goa
	url = https://github.com/shenoydotme/hugo-goa.git
