body, html {
  background: #fff;
  color: #666;
  font: 18px/200%;
  font-family: "Source Code Pro";
  margin: 0 auto;
}

a, a:link {
  background: #fff;
  color: #e42900;
  text-decoration: none;
}

a:visited {
  color: #e42900;
}

a:hover, a:active {
  color: #f06528;
}

#main {
  width: 800px;
  height: 800px;
  margin-left: -400px; /* Half of width */
  margin-top: -400px; /* Half of height */
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  vertical-align: text-top;
}

#main h1 {
  font-weight: bolder;
}

img {
  border-radius: 5%;
}